@import url("Fonts.css");
/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body{
margin:0;
padding:0;
}

#container 
{
margin:auto;
width: 760px;
}

#menu-container #left
{
display:block;
float: left;
width:30%;
}
#menu-container #left img
{
  float:right;
}

#menu-container #left img.corner
{
  width: 230px;
  height: 20px;
  border: 0px;
}

#menu-container #left img.logo
{
  width: 166px;
  height: 53px;
  border: 0px;
  display:block;
  clear: both;
}

#menu-container #right
{
  width: 70%;
  display :block;
  float: left;
}
  
#menu-container #menu 
{
  background-color: #47A2DA;
  margin-top: -1em;
  height: 6em;
}
#menu-container #menu ul
{
  padding-top: 4.2em;
}
#menu-container #menu li
{
  display: block;
  float: left;
  list-style-type: none;
  padding: 3px;
  color: White;
}

#menu-container a.menu
{
  border-left: 1px white solid;
  padding-left: 3px;
  color: White;
  font-weight: bold;
  font: 75% veranda, sans-serif;
  vertical-align: top;
}

#menu-container #menu li:first-child a
{
  border: 0px;
}


#menu-container #menu ul .account:before
{
  content: url("/Images/myacc_icon.gif") 
}

#menu-container #left #wave
{
  margin-top: 3em;
  display :block;
  text-align: right;
}

#menu-container #left #wave  img
{
width: 233px;
height: 36px;

padding-top: 3em;
}

#menu-container #left #message 
{
  display: block;
  clear: both;  
  text-align : right;
  padding: 3em 2em 0 4em;
  line-height: 1.7em;
}

#footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}


#login 
{
  width: 100%;
  height: 7em;  
  background-color: #ecf5fc;
  display:block;
  clear:both;
  line-height: 1em;
}

#login form
{
  padding-left: 1.5em;
}

#login ul 
{
 margin-top: 0px;
margin-left: -3em;
}

#login ul li
{
  list-style-type: none;
  float:left;
}

#login .input
{
  display: block;
  float: left;
  padding-left: 0.5em;
}

#login .input label
{
display: block;
}

#login .input input
{
  display: block;
  clear: both;
  width: 10em;  
}

#login .clientNumber
{
  display: none;
}

.service 
{
  width: 60%;
  background-color: White;
  display: block;
  float: left;
}
.service .right span 
{
display: block;
clear: both;
font-size: 70%;
line-height: 1.2em;
}

.service .left 
{
  width: 3em;
 vertical-align : top;
}

#right-sidebar
{
  width: 206px;
  background-color: White;
  min-height: 100%;
  display: block;
  float: left;
  border-left: 3px solid #ECF5FC;
  border-right: 3px solid #ECF5FC;
}


#right-sidebar .description
{
  display: block;
  clear: both;  
  margin: 1.8em 0 1em 0;
  padding: 0 0.5em;
}

.left-pad 
{
  padding-left: 0.5em;
}