@import url("Fonts.css");
@import url("Home.css");
@import url("Survey.css");


#main-body.management-company.index .image img { width: 150px; }
#main-body.management-company.index #logo-container  { width: 40%; float:left; display:block; padding-left: 2em; }
#main-body.management-company.index #front-image-container  { width: 40%; float:left; display:block; padding-left: 2em;}